.Quiz{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  min-height:90vh; 
}

.originalButton{
  font-weight:bold;
  width:20vmin; 
  height:20vmin; 
  border-radius: 3vmin; 
}

.subButton{
  width:20vmin;
  height:8vmin; 
  border-radius: 3vmin; 
  margin:1vmin; 
}

.submitButton {
  float:right;
  margin-right:3vmin; 
  border-radius:3vmin; 
  font-size:2vmin; 
  width:10vmin;
  height:5vmin; 
}

h1{
  text-align: center;
}

